vti_encoding:SR|utf8-nl
vti_author:SR|DASKUZA\\mehmet
vti_modifiedby:SR|DASKUZA\\mehmet
vti_timelastmodified:TW|19 Dec 2007 10:12:56 -0000
vti_timecreated:TR|19 Dec 2007 09:49:03 -0000
vti_extenderversion:SR|12.0.0.4518
vti_backlinkinfo:VX|information_links/information_links.htm publications.htm promita/contact.htm promita/master.dwt master.dwt faq/faq.htm contact.htm promita/research.htm calendar/calendar.htm research.htm promita/publications.htm about/about.htm photo_gallery/photo_gallery.htm default.htm promita/default.htm
vti_nexttolasttimemodified:TW|19 Dec 2007 10:12:56 -0000
vti_cacheddtm:TX|19 Dec 2007 10:12:57 -0000
vti_filesize:IR|2724
vti_cachedlinkinfo:VX|S|layout.css S|../images/liquid.jpg
vti_cachedsvcrellinks:VX|FSUS|styles/layout.css FSUS|images/liquid.jpg
